
  <div class="container">
    <hr class="rounded">
    <div class="section">
 
      <div id="app" class="row columns is-multiline">
        <div *ngFor="let project of projects"  class="column is-4">

          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="{{project.cardimg}}" alt="Image" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div  class="media">
                <div class="media-left">
                  <div *ngFor="let techn of project.technologies">
                    <div class="left-float-img">
                      <!--figure  class="image is-20x20"-->
                        <img src="{{techn.img}}" alt="Image">                    
                      <!--/figure-->
                    </div>    
                  </div>
                  <div class="left-float-content media-content">
                    <p class="title is-4">{{project.title}}</p>
                    <p class="subtitle is-6">@johnsmith</p>
                  </div>
              </div>
            </div>

          
              <div class="content">
                {{project.content}} <a>@bulmaio</a>.
                <a href="#">#css</a> <a href="#">#responsive</a>
                <br>
                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
              </div>
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>


