
  
<hr class="rounded">

<div class="portfolio-container">
			 
    <div  *ngFor="let project of projects">

        <div   class="card" href="#">
          <h3>{{project.title}}</h3>
          <img class="cardimg" src="{{project.cardimg}}" alt="{{project.title}}" >
          <p>{{project.content}} </p>
          <h5>Technologies</h5>
          <div *ngFor="let techn of project.technologies" class="incons-list">
            <img  class="icon-float" src="{{techn.img}}" alt="Image" alt="Placeholder image" >
          </div>
            <a class = "go-corner"  href="https://www.google.com" target="_blank">
            <img    class="icon-git" src= "assets/Git-logo.svg"  />
            </a>
    
        </div>


  </div>

</div>  

