		<div class="curriculum-container">
		
				<div class="header">
					<hr class="rounded">
					<div class="column-leftheader">
						<img src="assets/moi.jpg" class="roundimg" alt="Moises Martinez">
					</div>
					<div class="column-centerheader">
						<h1>Moisès Martínez Oliva</h1>
						<h2>Software Engineer</h2>
						<p>More than 25 years of experience in many technologies. Thirteen certifications (five of them in Salesforce) and still learning. Today my core technologies are Salesforce, .net, SQL   Server and AWS.</p>
					</div>
					<div class="column-rightheader">
						<p class="address">c/ Casanova 78 4º 3ª.<br>
						08011 Barcelona (Spain)<br>
						Phone. +34 630 733 234<br>
						moises@martinezarranz.cat</p>
					</div>
				</div>

				<div class = "certifications">
					<hr class="rounded">
					<div class = "column-leftheadercontent">
						<h3>Certifications</h3>
					</div>	
					<div class = "column-rightheadercontent">
						<img src="assets/certifications.jpg" class="iconimg" alt="Certifications">
					</div>	
					<div class = "column-content">
						<h4>February 3rd, 2021</h4>
						<img src="assets/Salesforce_logo.svg" class="certimg" alt="Salesforce">
						<p> Salesforce Certified Platform App Builder</p>					
						<h4>October 10th, 2020</h4>
						<img src="assets/Amazon_Web_Services_Logo.svg" class="certimg" alt="AWS">
						<p> AWS Certified Solutions Architect – Associated</p>
						<h4>May 2nd, 2019</h4>
						<img src="assets/Salesforce_logo.svg" class="certimg" alt="Salesforce">
						<p> Salesforce Certified Marketing Cloud Email Specialist</p>
						<h4>February 18th, 2019</h4>
						<img src="assets/Salesforce_logo.svg" class="certimg" alt="Salesforce">
						<p> Saleforce Certified Platform Developer I</p>
						<h4>July 27th, 2017</h4>
						<img src="assets/Salesforce_logo.svg" class="certimg" alt="Salesforce">
						<p> Salesforce Certified Administrator</p>
						<h4>October 26th, 2017</h4>
						<img src="assets/Salesforce_logo.svg" class="certimg" alt="Salesforce">
						<p> Salesforce Certified Sales Cloud Consultant</p>
						<h4>October 30th, 2014</h4>
						<img src="assets/oracle.png" class="certimg" alt="Oracle">
						<p> Fusion CRM: Sales 11g Implementation Specialis</p>
						<h4>November 17th, 2011</h4>
						<img src="assets/oracle.png" class="certimg" alt="Oracle">
						<p> Siebel 8 Consultant Certified Expert</p>
						<h4>November 24th, 2006</h4>
						<img src="assets/microsoft.png" class="certimg" alt="Microsoft">
						<p> Ms Certified Technology Specialist (SQL Server 2005)</p>
						<h4>March 7th, 2003</h4>
						<img src="assets/microsoft.png" class="certimg" alt="Microsoft">
						<p> Ms Certified Database Administrator (SQL Server 2000)</p>
						<h4>December 22nd, 2000</h4>
						<img src="assets/microsoft.png" class="certimg" alt="Microsoft">
						<p> Ms Certified Professional (Visual Basic 6.0)</p>
						<h4>March 31st, 2000</h4>
						<img src="assets/microsoft.png" class="certimg" alt="Microsoft">
						<p> Ms Certified Systems Engineer (Windows NT 4.0)</p>
						<h4>January 21st, 2000</h4>
						<img src="assets/microsoft.png" class="certimg" alt="Microsoft">
						<p> Microsoft Certified Professional + Internet (IIS 4.0)</p>
					</div>
				</div>
				
				<div class = "skills">
					<hr class="rounded">
					<div class = "column-leftheadercontent">
						<h3>Knowledges</h3>	
					</div>	
					<div class = "column-rightheadercontent">
						<img src="assets/knowledges.jpg" class="iconimg" alt="Knowledges">
					</div>	
					<div class = "column-content">
						<div class = "column-content-label"><p>Salesforce</p></div>
						<div class = "column-content-value" ><p class = "content-value">&#9733;&#9733;&#9733;&#9733;&#9733;&#9733;&#9733;&#9734;&#9734;&#9734;<p></div>
						<div class = "column-content-label"><p>SQL Server / Transact</p></div>
						<div class = "column-content-value" ><p class = "content-value">&#9733;&#9733;&#9733;&#9733;&#9733;&#9733;&#9733;&#9733;&#9733;&#9734;<p></div>
						<div class = "column-content-label"><p>.NET / C# / OOP</p></div>
						<div class = "column-content-value" ><p class = "content-value">&#9733;&#9733;&#9733;&#9733;&#9733;&#9734;&#9734;&#9734;&#9734;&#9734;<p></div>
						<div class = "column-content-label"><p>AWS</p></div>
						<div class = "column-content-value" ><p class = "content-value">&#9733;&#9733;&#9733;&#9733;&#9733;&#9734;&#9734;&#9734;&#9734;&#9734;<p></div>
					</div>				

				</div>


				<div class = "languages">
					<hr class="rounded">
					<div class = "column-leftheadercontent">
						<h3>Languages</h3>	
					</div>	
					<div class = "column-rightheadercontent">
						<img src="assets/languages.jpg" class="iconimg" alt="Languages">
					</div>	
					<div class = "column-content">
						<div class = "column-content-label"><p>Spanish</p></div>
						<div class = "column-content-value" ><p class = "content-value">&#9733;&#9733;&#9733;&#9733;&#9733;&#9733;&#9733;&#9733;&#9733;&#9734;<p></div>
						<div class = "column-content-label"><p>Catalan</p></div>
						<div class = "column-content-value" ><p class = "content-value">&#9733;&#9733;&#9733;&#9733;&#9733;&#9733;&#9733;&#9733;&#9733;&#9734;<p></div>
						<div class = "column-content-label"><p>English</p></div>
						<div class = "column-content-value" ><p class = "content-value">&#9733;&#9733;&#9733;&#9733;&#9733;&#9733;&#9734;&#9734;&#9734;&#9734;<p></div>
					</div>				

				</div>
				
				

				<div class = "experience">
					<hr class="rounded">
					<div class = "column-leftheadercontent">
						<h3>Job experience</h3>
					</div>
					<div class = "column-rightheadercontent">
						<img src="assets/jobs.jpg" class="iconimg" alt="Job experience">
					</div>	
					<div class = "column-content">
		
						<h4>Mar 2021 – Today</h4>
						<h5>Lidl</h5>
						<h6>Software Engineer</h6>
						<p>.Net, Azure, Salesforce</p>

						<h4>Dec 2020 – Today</h4>
						<h5>BaseTIS</h5>
						<h6>Software Engineer</h6>
						<p>Amazon Web Services: RDS, Scripting</p>
						
						<h4>Jun 2015 – Nov 2020</h4>
						<h5>Aktios - Vueling</h5>
						<h6>Software Engineer</h6>
						<p>Maintenance of Vueling software in the following technologies: Salesforce (Apex, Workflow rules, configuration, business processes, Welkin, Copado),. Net (.Net Framework, web services), AWS, Kibana, Grafana, SQL Server, Siebel, Azure devops</p>

						<h4>Jun 2012 - Jun 2015</h4>
						<h5>Birchman</h5>
						<h6>Siebel Consultant</h6>
						<p>Development and maintenance of Siebel modules in various clients: Kern, Cinfa, DKV.
						Database migration from Siebel DB2 to Oracle with Golden Gate to DKV. Oracle PL/SQL. Genesys CTI.</p>

						<h4>Jun 1999 - Jun 2012</h4>
						<h5>Telecon CRM Lab</h5>
						<h6>Software Engineer / SysAdmin</h6>
						<p>Integral development of CRM implemented in Bayer, Merck, Mylan, Bayvit and Ginea with Visual Basic 6 / SQL Server / Crystal Reports / Lotus / C++  for more than 10 years.
						Datacenter administration associated with this CRM (Windows 2000 / SQL Server / ISA Server, WSUS, Rack Mounting, Veritas, Lortad auditing)</p>

						<h4>Oct 1998 - Jun1999</h4>
						<h5>Industrias de Optica (INDO)</h5>
						<h6>Developer</h6>
						<p>Calculation of curves for lenses and control of industrial cutting machine in Visual C ++ (MFC) and Delphi / Paradox / Visual Basic / C</p>

						<h4>Feb 1995 - Oct 1998</h4> 
						<h5>Informàtica i Noves Tecnologies S.L. (Intec)</h5>
						<h6>Developer / SysAdmin</h6>
						<p>Windows NT systems maintentance.
						Indo Remote Edging System,  Ferrocarrils de la Generalitat de Catalunya  and  Insurance management system in Visual C with MFC Libraries. Windows NT Driver in C.</p>

						<h4>Jun 94 - Jul 94</h4>
						<h5>J.E.D.I (Junior Company of the Computer Science University)</h5>
						<h6>Programmer</h6>
						<p>Application of invoicing for Grup Serveis S.L. in CLÍPPER 5.0.</p>
						
					</div>
				</div>						
				<div class = "education">
					<hr class="rounded">
					<div class = "column-leftheadercontent">
						<h3>Education</h3>
					</div>
					<div class = "column-rightheadercontent">
						<img src="assets/education.jpg" class="iconimg" alt="Education">
					</div>	
					<div class = "column-content">
						<h4>1988-1994</h4>
						<h5>Barchelor Degree in Computer Science.</h5> 
						<h6>Universitat Politècnica de Catalunya</h6>

						<h4>Dec 2011-Sep 2012</h4>
						<h5>Java-jee Analyst programmer – .net 2010 developer</h5>
						<h6>Asogestic</h6>
					</div>
				</div>

				
		</div>
