<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="assets/swengineer.svg" width="200" height="120">
    </a>

 
    

  </div>

  <div class="navbar-menu">
    <div class="navbar-end">

    

      <a routerLink="/home" routerLinkActive="active" class="navbar-item">
        Home
      </a>

      <a routerLink="/projects" routerLinkActive="active" class="navbar-item">
        Projects
      </a>

      <a routerLink="/curriculum" routerLinkActive="active" class="navbar-item">
        Curriculum
      </a>

      <a routerLink="/architecture" routerLinkActive="active" class="navbar-item">
        Architecture
      </a>

    </div>


  </div>
</nav>

<router-outlet></router-outlet>
