<div class="row-header">
    <hr class="rounded">
    <div class="column-leftheader">
      <img src="assets/myraspberry.jpg" class="roundimg" alt="Moises Martinez">
    </div>
    <div class="column-centerheader">
      <h2>Physical</h2>
      <p>This page and all their projects are hosted in a single Raspberry Pi 4</p>
      <h2>Style / Web Page</h2>
      <img src="assets/bulma-seeklogo.com.svg" class="certimg" alt="Bulma">
      <img src="assets/Angular.svg" class="certimg" alt="Bulma">
      <p>This project has ben built on top of angular and bulma</p>
      <h2>Architecture</h2>
      <img src="assets/docker.svg" class="certimg" alt="Bulma">
      <img src="assets/k3s.svg" class="certimg" alt="Bulma">
      <p>Using docker with k3s</p>
      <p>This web is served in Angula on a ngnix with a persisted volume</p>
      <p>The database is centralized in a MySQL with a Volume in the host</p>
      <p>The images are pulled from a local registry container</p>
 

    </div>
 
  </div>
