<div class="row-header">
    <hr class="rounded">
    <div class="column-leftheader">
      <img src="assets/moi_white.svg" class="roundimg" alt="Moises Martinez">
    </div>
    <div class="column-centerheader">
      <h1>Moisès Martínez Oliva</h1>
      <h2>Software Engineer</h2>
      <p>More than 25 years of experience in many technologies. Twelve certifications (four of them in Salesforce) and still learning. Today my core technologies are Salesforce, .net, Siebel, SQL   Server and AWS.</p>
    </div>
    <div class="column-rightheader">
      <p class="address">c/ Casanova 78 4º 3ª.<br>
      08011 Barcelona (Spain)<br>
      Phone. +34 630 733 234<br>
      moises@martinezarranz.cat</p>
    </div>
  </div>